.left-bar {
  text-align: center;
  width: 100%; }

@media (min-width: 540px) {
  .left-bar {
    font-size: 0; }
  .left-bar .gauge-1,
  .left-bar .gauge-2,
  .left-bar .gauge-3 {
    width: 50%;
    padding-top: 2rem;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 12px; } }

@media (min-width: 720px) {
  .left-bar .gauge-1,
  .left-bar .gauge-2,
  .left-bar .gauge-3 {
    width: 33.3333%; } }

@media (min-width: 960px) {
  .left-bar {
    width: 25%;
    min-height: 930px; }
  .left-bar .gauge-1,
  .left-bar .gauge-2,
  .left-bar .gauge-3 {
    width: 100%; }
  section.publications .left-bar .gauge-1 {
    padding-top: 4rem; } }

@media (min-width: 1140px) {
  .left-bar {
    width: 250px; } }

.menu ul {
  margin: 0;
  padding: 0;
  font-size: 0; }
  @media (min-width: 960px) {
    .menu ul {
      display: -ms-flexbox !important;
      display: flex !important; } }
  .menu ul li {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    display: none; }
    @media (min-width: 960px) {
      .menu ul li {
        display: inline-block; } }
    .menu ul li:first-child {
      display: inline-block; }
      .menu ul li:first-child:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 8px 0 8px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        right: 10px;
        top: 18px; }
        @media (min-width: 960px) {
          .menu ul li:first-child:after {
            display: none; } }
    .menu ul li:hover {
      background: #f1f1f1; }
    @media (min-width: 960px) {
      .menu ul li {
        border: 0;
        -ms-flex: auto;
        flex: auto; } }

.container_radio.blue {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.blue .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #1156A1;
    border-radius: 50%; }
    .container_radio.blue .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #1156A1;
      border-radius: 50%; }
  .container_radio.blue:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.blue input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.blue input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.blue input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.blue input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.blue input:disabled ~ .checkmark {
      background: #1156A1;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.blue input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.blue input:disabled ~ .checkmark:after {
      background: #f5f5f5; }
  .container_radio.blue .checkmark {
    background: #1156A1;
    border: 1px solid #FFF; }
    .container_radio.blue .checkmark:after {
      background: #FFF; }
  .container_radio.blue:hover input ~ .checkmark {
    background: #1865b9; }
  .container_radio.blue input:checked ~ .checkmark {
    background: #1156A1; }
  .container_radio.blue input:checked:focus ~ .checkmark {
    background: #1156A1; }
  .container_radio.blue input:disabled ~ .checkmark {
    background: #FFF; }

.container_radio.red {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.red .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #D1415A;
    border-radius: 50%; }
    .container_radio.red .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #D1415A;
      border-radius: 50%; }
  .container_radio.red:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.red input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.red input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.red input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.red input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.red input:disabled ~ .checkmark {
      background: #D1415A;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.red input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.red input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.orange {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.orange .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #FA2E00;
    border-radius: 50%; }
    .container_radio.orange .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #FA2E00;
      border-radius: 50%; }
  .container_radio.orange:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.orange input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.orange input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.orange input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.orange input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.orange input:disabled ~ .checkmark {
      background: #FA2E00;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.orange input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.orange input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.purple {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.purple .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #424488;
    border-radius: 50%; }
    .container_radio.purple .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #424488;
      border-radius: 50%; }
  .container_radio.purple:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.purple input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.purple input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.purple input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.purple input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.purple input:disabled ~ .checkmark {
      background: #424488;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.purple input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.purple input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.yellow {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.yellow .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #EEAE00;
    border-radius: 50%; }
    .container_radio.yellow .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #EEAE00;
      border-radius: 50%; }
  .container_radio.yellow:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.yellow input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.yellow input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.yellow input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.yellow input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.yellow input:disabled ~ .checkmark {
      background: #EEAE00;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.yellow input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.yellow input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.green {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.green .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #518A81;
    border-radius: 50%; }
    .container_radio.green .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #518A81;
      border-radius: 50%; }
  .container_radio.green:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.green input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.green input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.green input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.green input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.green input:disabled ~ .checkmark {
      background: #518A81;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.green input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.green input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

@media (min-width: 960px) {
  .right-bar {
    width: 75%;
    min-height: 930px; } }

@media (min-width: 1140px) {
  .right-bar {
    width: auto; } }

/*# sourceMappingURL=global.css.map */
