.datasets .right-bar .filters {
  text-align: right; }
  .datasets .right-bar .filters span {
    cursor: pointer;
    padding: 0 5px;
    border-right: 2px solid #b4b4b4;
    font-family: Gotham-Medium; }
    .datasets .right-bar .filters span.active {
      color: #424488 !important;
      border-right: 2px solid #424488; }
    .datasets .right-bar .filters span:last-child {
      border: 0; }

.font-10 {
  font-size: 10px !important; }

.font-12 {
  font-size: 12px !important; }

.font-14 {
  font-size: 14px !important; }

.font-16 {
  font-size: 16px !important; }

.font-17 {
  font-size: 17px !important; }

.font-18 {
  font-size: 18px !important; }

.font-20 {
  font-size: 20px !important; }

.font-22 {
  font-size: 22px !important; }

.font-24 {
  font-size: 24px !important; }

.font-26 {
  font-size: 26px !important; }

.font-28 {
  font-size: 28px !important; }

.font-30 {
  font-size: 30px !important; }

.font-48 {
  font-size: 48px !important; }

.font-65 {
  font-size: 65px !important; }

.font-66 {
  font-size: 66px !important; }

.red {
  color: #D1415A !important; }

.orange {
  color: #FA2E00 !important; }

.green {
  color: #518A81 !important; }

.yellow {
  color: #EEAE00 !important; }

.purple {
  color: #424488 !important; }

.black {
  color: #555555 !important; }

.gray {
  color: #b4b4b4 !important; }

.white {
  color: #FFF !important; }

section .right-bar > .row {
  margin: 0; }
  @media (min-width: 960px) {
    section .right-bar > .row > div.left-zone {
      border-right: solid 2px #b4b4b4; } }
  section .right-bar > .row > div:nth-child(2) {
    position: relative; }
    section .right-bar > .row > div:nth-child(2):before {
      content: "";
      height: 2px;
      width: 90%;
      position: absolute;
      bottom: 0;
      left: 5%;
      z-index: 3;
      background: #b4b4b4; }
  section .right-bar > .row > div:nth-child(3) {
    position: relative; }
    section .right-bar > .row > div:nth-child(3):before {
      content: "";
      height: 2px;
      width: 90%;
      position: absolute;
      bottom: 0;
      left: 5%;
      z-index: 3;
      background: #b4b4b4; }

section.moocs .right-bar > .row > div:nth-child(4) {
  position: relative; }
  section.moocs .right-bar > .row > div:nth-child(4):before {
    content: "";
    height: 2px;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 3;
    background: #b4b4b4; }

section.moocs .right-bar > .row > div:nth-child(5) {
  position: relative; }
  section.moocs .right-bar > .row > div:nth-child(5):before {
    content: "";
    height: 2px;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 3;
    background: #b4b4b4; }

.left-bar {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2; }
  @media (min-width: 540px) {
    .left-bar {
      font-size: 0; } }
  @media (min-width: 960px) {
    .left-bar {
      width: 25%;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      position: absolute; } }
  @media (min-width: 1140px) {
    .left-bar {
      width: 250px; } }
  .left-bar .gauge-1,
  .left-bar .gauge-2,
  .left-bar .gauge-3 {
    padding: 20px 0; }
    @media (min-width: 540px) {
      .left-bar .gauge-1,
      .left-bar .gauge-2,
      .left-bar .gauge-3 {
        width: 50%;
        padding-top: 2rem;
        font-size: 12px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        zoom: 1;
        *display: inline; } }
    @media (min-width: 720px) {
      .left-bar .gauge-1,
      .left-bar .gauge-2,
      .left-bar .gauge-3 {
        width: 33.3333%; } }
    @media (min-width: 960px) {
      .left-bar .gauge-1,
      .left-bar .gauge-2,
      .left-bar .gauge-3 {
        width: 100%;
        padding: 0;
        min-height: 300px; }
        .left-bar .gauge-1.gauge-1,
        .left-bar .gauge-2.gauge-1,
        .left-bar .gauge-3.gauge-1 {
          padding-top: 4rem;
          min-height: 330px; } }

@media (max-width: 992px) {
  #nav-title .navbar-nav a {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.menu ul {
  margin: 0;
  padding: 10px 0 !important;
  font-size: 0;
  position: relative;
  padding-top: 55px !important;
  min-height: 45px;
  font-family: 'Gotham-Bold';
  color: #b4b4b4;
  font-size: 20px;
  z-index: 2; }
  @media (min-width: 960px) {
    .menu ul {
      display: -ms-flexbox !important;
      display: flex !important;
      padding: 10px 0 !important; } }
  .menu ul li {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    display: none; }
    @media (min-width: 960px) {
      .menu ul li {
        display: inline-block;
        border: 0;
        -ms-flex: auto;
        flex: auto; } }
    .menu ul li.first {
      position: absolute;
      top: 10px;
      left: 0;
      display: inline-block;
      border: 0; }
      @media (min-width: 960px) {
        .menu ul li.first {
          position: relative;
          top: inherit;
          left: inherit; } }
      .menu ul li.first:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 8px 0 8px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        right: 10px;
        top: 18px; }
        @media (min-width: 960px) {
          .menu ul li.first:after {
            display: none; } }
  .menu ul.open li {
    display: inline-block; }
    .menu ul.open li.first {
      border-bottom: 1px solid #f1f1f1; }
      @media (min-width: 960px) {
        .menu ul.open li.first {
          border: 0; } }
      .menu ul.open li.first:after {
        border-width: 0 8px 13px 8px;
        border-color: transparent transparent #000 transparent; }

.moocs .right-bar .filters {
  text-align: right; }
  .moocs .right-bar .filters span {
    cursor: pointer;
    padding: 0 5px;
    border-right: 2px solid #b4b4b4;
    font-family: Gotham-Medium; }
    .moocs .right-bar .filters span.active {
      color: #FA2E00 !important;
      border-right: 2px solid #FA2E00; }
    .moocs .right-bar .filters span:last-child {
      border: 0; }

.publications .right-bar .filters {
  text-align: right; }
  .publications .right-bar .filters span {
    cursor: pointer;
    padding: 0 5px;
    border-right: 2px solid #b4b4b4;
    font-family: Gotham-Medium; }
    .publications .right-bar .filters span.active {
      color: #D1415A !important;
      border-right: 2px solid #D1415A; }
    .publications .right-bar .filters span:last-child {
      border: 0; }

.publications .right-bar #kic {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  position: relative; }
  .publications .right-bar #kic:before {
    content: "";
    height: 2px;
    width: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 3;
    background: #b4b4b4; }

.publications .right-bar p {
  font-size: 14px;
  font-family: 'Gotham-Book';
  line-height: 100%; }

.container_radio.blue {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  /* font-size: 20px; */
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1vw; }
  .container_radio.blue .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #1156A1;
    border-radius: 50%; }
    .container_radio.blue .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #1156A1;
      border-radius: 50%; }
  .container_radio.blue:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.blue input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.blue input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.blue input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.blue input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.blue input:disabled ~ .checkmark {
      background: #1156A1;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.blue input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.blue input:disabled ~ .checkmark:after {
      background: #f5f5f5; }
  .container_radio.blue .checkmark {
    background: #1156A1;
    border: 1px solid #FFF; }
    .container_radio.blue .checkmark:after {
      background: #FFF; }
  .container_radio.blue:hover input ~ .checkmark {
    background: #1865b9; }
  .container_radio.blue input:checked ~ .checkmark {
    background: #1156A1; }
  .container_radio.blue input:checked:focus ~ .checkmark {
    background: #1156A1; }
  .container_radio.blue input:disabled ~ .checkmark {
    background: #FFF; }

.container_radio.red {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.red .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #D1415A;
    border-radius: 50%; }
    .container_radio.red .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #D1415A;
      border-radius: 50%; }
  .container_radio.red:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.red input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.red input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.red input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.red input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.red input:disabled ~ .checkmark {
      background: #D1415A;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.red input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.red input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.orange {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.orange .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #FA2E00;
    border-radius: 50%; }
    .container_radio.orange .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #FA2E00;
      border-radius: 50%; }
  .container_radio.orange:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.orange input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.orange input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.orange input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.orange input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.orange input:disabled ~ .checkmark {
      background: #FA2E00;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.orange input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.orange input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.purple {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.purple .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #424488;
    border-radius: 50%; }
    .container_radio.purple .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #424488;
      border-radius: 50%; }
  .container_radio.purple:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.purple input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.purple input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.purple input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.purple input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.purple input:disabled ~ .checkmark {
      background: #424488;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.purple input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.purple input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.yellow {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.yellow .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #EEAE00;
    border-radius: 50%; }
    .container_radio.yellow .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #EEAE00;
      border-radius: 50%; }
  .container_radio.yellow:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.yellow input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.yellow input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.yellow input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.yellow input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.yellow input:disabled ~ .checkmark {
      background: #EEAE00;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.yellow input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.yellow input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.container_radio.green {
  display: block;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  padding-top: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  color: #FFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .container_radio.green .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFF;
    border: 1px solid #518A81;
    border-radius: 50%; }
    .container_radio.green .checkmark:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      background: #518A81;
      border-radius: 50%; }
  .container_radio.green:hover input ~ .checkmark {
    background: #f5f5f5; }
  .container_radio.green input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .container_radio.green input:focus ~ .checkmark {
      background: #f5f5f5; }
    .container_radio.green input:checked ~ .checkmark {
      background: #FFF; }
    .container_radio.green input:checked:focus ~ .checkmark {
      background: #FFF; }
    .container_radio.green input:disabled ~ .checkmark {
      background: #518A81;
      opacity: 0.6;
      pointer-events: none; }
    .container_radio.green input:checked ~ .checkmark:after {
      display: block; }
    .container_radio.green input:disabled ~ .checkmark:after {
      background: #f5f5f5; }

.right-bar {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1; }
  @media (min-width: 960px) {
    .right-bar {
      padding-left: 25%;
      min-height: 930px; } }
  @media (min-width: 1140px) {
    .right-bar {
      padding-left: 250px; } }

section {
  float: left;
  width: 100%;
  position: relative; }
  section.publications, section.moocs, section.datasets, section.code, section.suscribers, section.map {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (min-width: 960px) {
      section.publications, section.moocs, section.datasets, section.code, section.suscribers, section.map {
        min-height: 960px; } }

.vertical-text {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 1rem;
  font-size: 12px;
  font-family: 'Gotham-Book';
  position: absolute;
  top: 25%;
  left: -10px; }

/*# sourceMappingURL=global.css.map */
