#downloads {
    min-width: 300px;
    max-width: 100%;
    margin: 0 auto;

}

#downloads rect {
    
    stroke: #d1415a;
}

/***gauges ***/
.funds-allocated-meter .background {
    fill: #AA0206;
}

.funds-allocated-meter .foreground {
    fill: #FFF;
}

.funds-allocated-meter text.percent-complete {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 55px;
    fill: #FFF;
    letter-spacing: -0.03em;
}

#left-bar {
    text-align: center;
}

#left-bar h4 {
    font-size: 1rem;
    color: white;
}

#left-bar span:nth-child(2n) {
    color: white;
    font-size: .8rem;
}

#left-bar span:nth-child(2n+1) {
    color: #AA0206;
    font-size: .8rem;
}


.d-border-left {
    border-left: solid 1.5px #b4b4b4;
}

.d-border-bottom {
    border-bottom: solid 1.5px #b4b4b4;
}

.container {
    max-width: 95%;
}

.red-background {
    background-color: #D1415A;

}

[id^="gauge"] {
    margin: 0 auto;
    height: 300px;
}