$white: #FFF;
$black: #000;
$gray: #b4b4b4;
$blue: #1156A1;
$red: #D1415A;
$orange: #FA2E00;
$purple: #424488;
$yellow: #EEAE00;
$green: #518A81;

.red {
  color: $red !important;
}
.orange {
  color: $orange !important;
}
.green {
  color: $green !important;
}
.yellow {
  color: $yellow !important;
}
.purple {
  color: $purple !important;
}
.black {
  color: #555555 !important;
}
.gray {
  color: $gray !important;
}
.white {
  color: $white !important;
}
