.left-bar {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  @include breakpoint($small) {
    font-size: 0;
  }
  @include breakpoint($desk) {
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    position: absolute;
  }
  @include breakpoint($wide) {
    width: 250px;
  }

  .gauge-1,
  .gauge-2,
  .gauge-3 {
    padding: 20px 0;
    @include breakpoint($small) {
      width: 50%;
      padding-top: 2rem;
      font-size: 12px;
      @include inline-block(top);
    }
    @include breakpoint($tab) {
      width: 33.3333%;
    }
    @include breakpoint($desk) {
      width: 100%;
      padding: 0;
      min-height: 300px;

      &.gauge-1 {
        padding-top: 4rem;
        min-height: 330px;
      }
    }
  }
}
