#nav-title {
  .navbar-nav {
    a {
      @include breakpoint($max_desktop) {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.menu {
  ul {
    margin: 0;
    padding: 10px 0 !important;
    font-size: 0;
    position: relative;
    padding-top: 55px !important;
    min-height: 45px;
    font-family: "Gotham-Bold";
    color: #b4b4b4;
    font-size: 20px;
    z-index: 2;

    @include breakpoint($desk) {
      display: -ms-flexbox !important;
      display: flex !important;
      padding: 5px 0 !important;
    }

    li {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      @include inline-block();
      position: relative;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #f1f1f1;
      display: none;
      @include breakpoint($desk) {
        display: inline-block;
        border: 0;
        -ms-flex: auto;
        flex: auto;
      }
      a {
        color: #b4b4b4;
        &:hover {
          text-decoration: none;
        }
        &:visited {
          color: #b4b4b4;
        }
      }

      &.first {
        position: absolute;
        top: 10px;
        left: 0;
        display: inline-block;
        border: 0;
        @include breakpoint($desk) {
          position: relative;
          top: inherit;
          left: inherit;
        }
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 13px 8px 0 8px;
          border-color: #000 transparent transparent transparent;
          position: absolute;
          right: 10px;
          top: 18px;
          @include breakpoint($desk) {
            display: none;
          }
        }
      }
    }

    &.open {
      li {
        display: inline-block;
        &.first {
          border-bottom: 1px solid #f1f1f1;
          @include breakpoint($desk) {
            border: 0;
          }
          &:after {
            border-width: 0 8px 13px 8px;
            border-color: transparent transparent #000 transparent;
          }
        }
      }
    }
  }
}
