.publications {
  .right-bar {
    .filters {
      @include filters($red);
    }

    #kic {
      margin-top: 20px;
      padding-top: 15px;
      text-align: center;
      @include borderTopGraphs();
    }

    p {
      font-size: 14px;
      font-family: 'Gotham-Book';
      line-height: 100%;
    }
  }
}
