.container_radio {
  &.blue {
    font-size: 1.5vw;
    @include radioStyle($blue, $white);
    .checkmark {
      background: $blue;
      border: 1px solid $white;
      &:after {
        background: $white;
      }
    }
    &:hover input ~ .checkmark {
      background: #1865b9;
    }
    input {
      &:checked ~ .checkmark {
        background: $blue;
      }
      &:checked:focus ~ .checkmark {
        background: $blue;
      }
      &:disabled ~ .checkmark {
        background: $white;
      }
    }
  }
  &.red {
    @include radioStyle($red, $white);
  }
  &.orange {
    @include radioStyle($orange, $white);
  }
  &.purple {
    @include radioStyle($purple, $white);
  }
  &.yellow {
    @include radioStyle($yellow, $white);
  }
  &.green {
    @include radioStyle($green, $white);
  }
}
