.right-bar {
  float: left;
  width: 100% !important;
  @include breakpoint($desk) {
    width: 75% !important;
    min-height: 930px;
  }
  @include breakpoint($wide) {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    position: absolute !important;
    z-index: 1;
    padding-left: 250px !important;
  }
}
