section {
  float: left;
  width: 100%;
  position: relative;

  &.publications, &.moocs, &.datasets, &.code, &.suscribers, &.map {
    @include breakpoint($desk) {
      min-height: 960px;
    }
  }
}
